*.identcache
*.local
*.res
*.stat
*.dcu
*.log
*.exe
*.dll
*.zip
*.skincfg
*.dsk
*.map
*.vlb
__history/
executavel/cache/
executavel/JsonToDelphi.zip
unigui/executavel/cache/
unigui/executavel/config.ini
